<div ng-controller="showCtrl">
	<div ng-if="employee.ReqStatus == 0"><label id="pendinglabel">{{employee.Name}}--{{employee.EmpId}}</label><button>Approve</button>
	</div>
	
	
	<!-- <div ng-hide="IsHidden">
		<input type="checkbox" ng-model="checkbox1">Test1 <input
			type="checkbox" ng-model="checkbox2">Test2 <input
			type="checkbox" ng-model="checkbox3">Test3 <input
			type="checkbox" ng-model="checkbox4">Policy1 <input
			type="checkbox" ng-model="checkbox5">Policy2
		<textarea></textarea>
		<button>submit</button>
	</div> -->
</div>